docs/build
dist/
DL_Track_US/__pycache__
DL_Track_US/build/
DL_Track_US/dist/
DL_Track_US/installer/
DL_Track_US/gui_helpers/__pycache__
DL_Track_US/gui_modules/__pycache__
.sync_journal.db
.sync_journal.db-shm
.sync_journal.db-wal
.owncloudsync.log